<div _ngcontent-jgs-c2="" class="row">
    <div _ngcontent-jgs-c2="" class="col-md-4 col-sm-6 ml-auto mr-auto">
        <div _ngcontent-jgs-c2="" class="card card-register">
            <h3 _ngcontent-jgs-c2="" class="card-title">Welcome</h3>
            <form _ngcontent-jgs-c2="" class="register-form ng-untouched ng-pristine ng-valid" novalidate="">
                <label _ngcontent-jgs-c2="">Email</label><input _ngcontent-jgs-c2="" class="form-control no-border" placeholder="Email" type="email">
                <label _ngcontent-jgs-c2="">Password</label><input _ngcontent-jgs-c2="" class="form-control no-border" placeholder="Password" type="password">
                <button _ngcontent-jgs-c2="" class="btn btn-danger btn-block btn-round">Login</button>
            </form>
            <div _ngcontent-jgs-c2="" class="forgot"
            ><a _ngcontent-jgs-c2="" class="btn btn-link btn-danger" href="javascript:void(0)">Forgot password?</a>
        </div>
    </div>
</div>
</div>